.homeContainer {
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 80px;
}

.homeTitle {
    grid-column: 2/9;
    grid-row: 1/1;
    float: left;
    color: rgb(45, 141, 165);
}

@media only screen and (max-width: 768px) {
 
    .homeContainer {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,110px);
    }

    .homeTitle {
        grid-column: 2/2;
        grid-row: 1/1;
    }    
}
